.container {
    width: 1300px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 25px;
    padding-top: 80px;
    
    &>div {
        background-color: var(--background-secondary);
        border-radius: var(--border-radius-primary);
    }
}
.main {
    --padding-main: 35px;
    padding: var(--padding-main);
    width: 920px;
    max-width: 100%;
}
.header {
    padding-bottom: var(--padding-main);
    margin-bottom: var(--padding-main);
    border-bottom: 2px solid var(--background-tertiary);

    h1 {
        margin-top: 0;
        font-size: 20px;
    }
    span {
        font-size: 16px;
        color: var(--text-secondary);
    }
}
.group-title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--text-secondary);
}
.user-container {
    --user-padding: 15px;
    --row-amount: 12;
    --icon-width: 65px;
    display: grid;
    grid-template-columns: repeat(var(--row-amount), 1fr);
    margin-left: calc(-1 * var(--user-padding));
}
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--user-padding);
    cursor: pointer;
    border-radius: var(--border-radius-secondary);
    position: relative;

    &:hover {
        background-color: var(--background-tertiary);
    }
    &.is-me {
        .user-icon.talking {
            border-color: #585eff;
        }
    }
}
.user-status {
    position: absolute;
    z-index: 1;
    top: calc(var(--icon-width) - 14px);
    right: 12px;

    svg {
        width: 30px;
        height: 30px;
        fill: var(--text-primary);
        background-color: var(--color-primary);
        padding: 6px;
        border-radius: 50%;
    }
}
.user-icon {
    width: var(--icon-width);
    height: var(--icon-width);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-bottom: 7px;
    border: 4px solid transparent;
    transition: border-color .2s;

    &.talking {
        border-color: var(--color-primary);
    }
}

.chat {
    flex: 1;
    padding: 20px;
}
.chat-header {
    margin-top: 0;
    font-weight: 700;
    color: var(--text-secondary);
}